@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}

@keyframes rotate {
	to  { transform: rotate(360deg); }
}

@keyframes scale {
	from  { transform: scale(0); }
	to  { transform: scale(2); }
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}