@import "./animations.css";

.posts {
    max-width: 800px;
    margin: auto;
    padding: 15px;
}

.post { margin: 0 0 20px; color: rgba(0,0,0,.8); line-height: 1.5; }
.post_caption { margin: 0 0 3px 0; font-size: 17px; }
.post_content { font-size: 15px; }
.post_meta { font-size: 14px; color: rgba(0,0,0,.6) }

.group { margin: 20px 0; animation: fadein .4s; }
.group_caption { font-size: 21px; font-weight: normal; color: #DC3710; margin: 0 0 10px; }

.posts_navigation { text-align: right; border-bottom: 1px solid #ccc; padding-bottom: 10px; }
.posts_navigation span { cursor: pointer; margin: 0 10px; font-size: 15px; }
.posts_navigation .-active { color: #DC3710; }