html, body {
	margin: 0;
	height: 100%;
}

svg {
	color: rgba(151,194,185, .5);
	margin: 2px;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	border: 1px solid currentColor;
	background: 
		linear-gradient(to right,
	      transparent,
	      transparent 9px,
	      currentColor 9px,
	      currentColor 10px),
		linear-gradient(to bottom,
	      transparent,
	      transparent 9px,
	      currentColor 9px,
	      currentColor 10px);
	background-size: 10px 10px;	
}

circle {
	fill: rgba(231,63,63, .7);
}

.-special {
	stroke: #F9E422;
	fill: none;
	pointer-events: fill;
}

polygon {
	fill: none;
	stroke: #6D9DD1;
	pointer-events: fill;
}

circle.-special:hover, polygon:hover {
	fill: currentColor;
	fill-opacity: .3;
}